    
<h1>Watchlists</h1>
<div id="watchList" class="row">    
    <div id="watchlists">
        <ul class="itemGrid">
            <li>
                <span class="badge guid">ID</span>
                <span class="name">Name</span>
                <span class="">Full Name</span>
                <span class="">Threshold</span>
                <span></span>
            </li>
            <li *ngFor="let watchList of watchLists">
                <span class="badge guid">{{ watchList.id }}</span>
                <span class="name">{{ watchList.displayName }}</span>
                <span class="">{{ watchList.fullName }}</span>
                <span class="">{{ watchList.threshold }}</span>
                <button type="button"  (click)="deleteWatchList(watchList.id)">Delete</button>
            </li>
        </ul>
    </div>
</div>
<br class="clear" />

<h1>Watchlist Members</h1>
<div id="watchlistMember" class="row">
    <div id="members" class="block2">
        <h3>Watchlist members</h3>
        <ul class="itemGrid">
            <li>
                <span class="badge guid">ID</span>
                <span class="name">Name</span>
                <span class="">Full Name</span>
                <span class="">Note</span>
                <span></span>
            </li>
            <li *ngFor="let watchListMember of watchListMembers">
                <span class="badge guid">{{ watchListMember.id }}</span>
                <span class="name">{{ watchListMember.displayName }}</span>
                <span class="">{{ watchListMember.fullName }}</span>
                <span class="">{{ watchListMember.note }}</span>
                <button class="delete" type="button" (click)="deleteWatchListMember(watchListMember.id)">Delete</button>
            </li>
        </ul>
    </div>
</div>
<br class="clear" />

<h1>Watchlist Member Registrations</h1>
<div id="watchlistRegistration" class="row">
    <div id="registerMember" class="block">        
        <p>
            <span>WatchList</span> 
            <br class="clear" />
            <select id="ddlWatchList" [(ngModel)]="selectedWatchList4" (change)="getWatchListRegistrations()">
                <option id=""></option>
                <option *ngFor="let watchList of watchLists" [ngValue]="watchList.id" >
                    <span>{{ watchList.displayName }}</span>
                </option>
            </select>
        </p>                        
    </div>

    <div id="members" class="block2">
        <h3>Registrations</h3>
        <ul class="itemGrid">
            <li>
                <span class="badge guid">ID</span>
                <span class="name">Name</span>
                <span class="">Full Name</span>
                <span class="">Note</span>
            </li>
            <li *ngFor="let watchListMember of watchListRegistrations">
                <span class="badge guid">{{ watchListMember.id }}</span>
                <span class="name">{{ watchListMember.displayName }}</span>
                <span class="">{{ watchListMember.fullName }}</span>
                <span class="">{{ watchListMember.note }}</span>
            </li>
        </ul>
    </div>
</div>
<br class="clear" />