<div id="watchlists">
    <h2>Existing Watchlists</h2>
    <ul>
        <li *ngFor="let watchList of watchLists">
            Name: <span>{{ watchList.displayName }}</span>
            Full Name: <span>{{ watchList.fullName }}</span>
            Threshold: <span>{{ watchList.threshold }}</span>
        </li>
    </ul>
</div>

<div>
    <h2>Existing Watchlist members</h2>
    <ul>
        <li *ngFor="let watchListMember of watchListMembers">
            Name: <span>{{ watchListMember.displayName }}</span>
            Full Name: <span>{{ watchListMember.fullName }}</span>
            Threshold: <span>{{ watchListMember.note }}</span>
        </li>
    </ul>
</div>
  
  <div id="watchListForm">
    <h2>Watchlist form</h2>
    <p>
      <span>Display Name: </span>
      <input id="watchListDisplayName" type="text" [(ngModel)] = "watchList.displayName" />
    </p>
    <p>
      <span>Full Name: </span>
      <input id="watchListDisplayName" type="text" [(ngModel)] = "watchList.fullName" />
    </p>
    <p>
      <span>Treshold: </span>
      <input id="watchListTreshold" type="number" [(ngModel)] = "watchList.threshold" />
    </p>
    <p>
      <input id="submitWatchList" type="button" value="Submit" (click)="onWatchListClick(watchList)" />
    </p>
  
  
    <div id="memberForm">
      <h2>Member form</h2>
      <p>
        <span>Display Name: </span>
        <input id="memberDisplayName" type="text" [(ngModel)] = "watchListMember.displayName" />
      </p>
      <p>
        <span>Full Name: </span>
        <input id="memberFullName" type="text" [(ngModel)] = "watchListMember.fullName" />
      </p>
      <p>
        <span>Note: </span>
        <input  id="memberNote" type="text" [(ngModel)] = "watchListMember.note" />
      </p>
      <p>
        <input id="submitMember" type="button" value="Submit" (click)="onWatchListMemberClick(watchListMember)" />
      </p>
  
  
  </div>